.titlepadding {
  display: flex;
  justify-content: center;
  color: white;
  margin: 100px 0px 30px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  padding: 19px;
  width: auto;
  border: 2px solid white;
  border-left: none;
}
.example2 {
  color: white;
  border: 2px solid rgb(25, 156, 154);
  margin: 0px 200px 0px 200px;
  text-align: center;
}
.inputbox1 {
  position: absolute;
  top: 430px;
  left: 200px;
}
